<div class="container">
    <div class="form">
        <form action="/movies/add" method="post" class="form-1">
            <input type="text" id="title" name="title" placeholder="Titulo" autofocus required>
            <input type="text" name="description" id="description" placeholder="Insertar trailer" autofocus required>
            <input type="text" name="image" id="image" placeholder="link de la imagen" required>
            <button type="submit" class="add">Agregar</button>
        </form>
    </div>
    <a href="/movies" class="btn-1">VOLVER</a>
</div>