<section class="movies container" id="movies container"> 
        <h2>Peliculas mas vistas</h2>
        <hr>
        <div class="box-1" id="box-1">
            <div class="content" id="content">

            </div>
        </div>
</section>

<div class="paginacion">
    <button id="btnAnterior">Anterior</button>
    <button id="btnSiguiente">Siguiente</button>
</div>

