<h2 class="nosotros">TE PRESENTAMOS UNA PÁGINA NOVEDOSA, LLENA DE BUENAS NOTICIAS Y NOVEDADES PARA LOS AMANTES DE LAS PELICULAS.
    EN ESTE SITIO WEB PODRAS VER LAS NUEVAS PELICULAS EN CARTELERA. PODRAS CREARTE UN USUARIO PARA PODER AGREGAR TUS PELICULAS FAVORITAS QUE TENGAS EN CUENTA PARA VER.
    ESTA WEB SOLO ESTA DEDICADA A VER LAS NUEVAS PELICULAS EN CARTELERA PORQUE ESTAMOS EN CONTRA DE LA PIRATERÍA DE PELICULAS ORGINALES.
    ESPERO QUE DISFRUTE DE LAS NOVEDADES Y LA PÁGINA WEB.
</h2> 
 
 
 
 <section class="movies container"> 
        <h2>Peliculas mas vistas</h2>
        <hr>
       <div class="box-container-1">
            <div class="box-1">
                <div class="content">
                    <img src="img/1.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>

            <div class="box-1">
                <div class="content">
                    <img src="img/2.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>

            <div class="box-1">
                <div class="content">
                    <img src="img/3.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>

            <div class="box-1">
                <div class="content">
                    <img src="img/4.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>


            <div class="box-1">
                <div class="content">
                    <img src="img/5.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>


            <div class="box-1">
                <div class="content">
                    <img src="img/6.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>

            <div class="box-1">
                <div class="content">
                    <img src="/img/7.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>

            <div class="box-1">
                <div class="content">
                    <img src="/img/8.jpg" alt="">
                    <h3>Pelicula hd</h3>
                    <a href="" class="load-more">VER AHORA</a>
                </div>
            </div>
        </div>

       
        <div class="load-more" id="load-more-1">Cargar Mas</div>
    </section>