<footer class="footer container">
        <h1>Movies +</h1>

        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/novedades">Novedades</a></li>
        </ul>
</footer>